body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.anounceAmerica{
  margin-top: 37px;
  height: 250px;
  width: 300px;
}


.logoNavabar{
  height: 30px;
  width: 30px;
}

.logofooter{
  height: 15px;
  width: 15px;
}

.title-small-text{
  font-size: medium !important;
}

.littleleftMargined{
  margin-left: 10px;
}

.logoNavabarArrow{
  height: 15px;
  width: 15px;
}

.logoUtilInteresante{
  height: 20px;
  margin-top: 20px;
}

.iconNavBar{
 padding-top: 50%;
}

.OswaldFont{
  font-family: 'BebasNeue-Regular', sans-serif;
}

.OpenSansFont{
  font-family: 'Open Sans', sans-serif;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  /* Preserve aspet ratio */
  max-width: 100%;
  max-height: 50%;
   z-index: -9999;
  background-color: green;
}

.bgV2 {
  position: fixed;
  top: 0;
  left: 0;
  /* Preserve aspet ratio */
  max-width: 100%;
  max-height: 50%;
   z-index: -9999;
  background-color: green;
}


.bgLanding{
  position: absolute;
  top: 0;
  left: 0;
  /* Preserve aspet ratio */
  max-width: 100%;
  min-height: 75%;
  z-index: -9999;
  background-color: green;
  overflow: hidden;
}

.leftSpacing{
  margin-left: 3%;
}

.bgSections {
  position: absolute;
  top: 0;
  left: 0;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100vh;
   z-index: -9999;
  background-color: green;
}


.justify-text{
  text-align: justify;
  text-justify: inter-word;
}

.marginTop{
  padding-top: 0%;
}

.marginTopTurismo{
  padding-top: 30%;
}

.marginLanding{
  padding-top: 50%;
}

.fullSides{
  width: 100%;
}

.fullWidth{
  width: 100%;
}

.selfContainer{
  position:relative;
}

.col-container {
    display: table;
    width: 100%;
}

.colCenter{
    display: table-cell;
    position: relative;
    width: 70%;
    padding: 2%;
}

.colSides{
    display: table-cell;
    position: relative;
    width: 15%;
    padding: 2%;
}

.quotecontainer{
  position: absolute;
  padding: 1%;
  right: 0px;
  height: 100%;
  width: 5%;
}

.fullHeight{
  height: 100%;
}

.upPos{
  position: absolute;
  top: 0px;
  left: 50%;
}

.bold{
  font-weight: bold !important;
}

.lowPos{
  position: absolute;
  bottom: 0px;
  right: 50%;
}


.suscribeContainer{
  position:relative;
}

.inputSubscribe{
  background-color: #1B1C1C !important;
  margin: 0px !important;
  padding-left: 5% !important;
  width: 80% !important;
  border-color: white !important;
  border-style: solid !important;
  border-width: 1px 1px 1px 1px !important;
  border-radius: 5px 0px 0px 5px !important;
}

.okinputSubscribe{
  position: absolute;
  background-color: white !important;
  color: black !important;
  width: 20% !important;
  height: 100% !important;
  border-width: 0px 0px 0px 0px !important;
  border-radius: 0px 5px 5px 0px !important;
}

.inputSubscribeFooter{
  background-color: white !important;
  margin: 0px !important;
  padding-left: 5% !important;
  width: 60% !important;
  border-color: grey !important;
  border-style: solid !important;
  border-width: 1px 1px 1px 1px !important;
  border-radius: 5px 0px 0px 5px !important;
}

.no-marginTop{
    margin-top: 0px !important;
    padding-top: 0px !important;
}

.okinputSubscribeFooter{
  position: absolute;
  background-color: black !important;
  color: white !important;
  width: 40% !important;
  height: 100% !important;
  border-width: 0px 0px 0px 0px !important;
  border-radius: 0px 5px 5px 0px !important;
}

.valign-middle{
  vertical-align: middle;
}

.normal-line-height{
  line-height: normal;
}
.roundedBorder{
  border-radius: 3px !important;
}

.roundedBorderBig{
  border-radius:10px !important;
}

.rightMargined{
  margin-right: 0%;
}

.NewspaperMode{
  margin-left: 0% !important;
  margin-right: 0% !important;
  padding-right: 0% !important;
}

.margin-top-no{
  margin-left: -20px !important;
  padding-left: 20px !important;
  margin-top: -14px !important;
}

.nonothing{
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}

.noheight{
  height: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
}

.FixedHeightContainer{
  height: 330px;
  overflow-x: scroll !important;
}

.FixedHeightContainer::-webkit-scrollbar {
    position: absolute;
    height: 0px !important;
    background: transparent;
}

.titleText{
    font-size: large;
}

.containerImage{
  position: relative;
  margin-top: 0px !important;
  padding: 0px;
  margin-bottom: 0px;
  margin-right: 1%;
}

.text-size-meme{
  font-size: 24px !important;
}

.text-block {
  position: absolute;
  width: 90%;
  height: 40%;
  bottom: 30%;
  left: 10%;
  color: white;
}

.innerText{
  position: relative;

}

.backMemeDims{
  position: absolute;
  width: 194.43px;
  height: 240px;
  top: 0px;
  left: 0px;
  border-radius: 10px;
  -webkit-transition: height 0.1s;
  transition:height 0.1s;
}

.containerImage:hover > .backMemeDims{
  width: 210.64px;
  height: 259.79px;
}

.purpleBack{
  background-color: rgba(128,0,128,0.3);
}

.orangeBack{
  background-color: rgba(255, 127, 0,0.3);
}

.greenBack{
  background-color: rgba(50,250,30,0.3);
}

.containerImage:hover > .memeContainer{
  width: 210.64px;
  height: 259.79px
}

.textInsideDiv{
  overflow-wrap: break-word !important;
  word-wrap: break-word !important;
}

.text-inside-block{
  height: auto;
  width:200px !important;
  word-wrap: break-word !important;
}

.memeContainer{
  width: 194.07px;
  height: 240px;
  overflow-x: scroll !important;
  -webkit-transition: height 0.1s;
  transition: height 0.1s;
}

.fullScreenOverLay{
  margin-top: -20px;
  background-color: rgba(0,0,0,0.5);
  height: 100vh;
  width:100vw;
}

.gradNavBar {
  background: linear-gradient(to bottom,rgba(0,0,0,0.3),rgba(0,0,0,0.1));
}

.gradFooter{
  background: linear-gradient(to bottom,rgba(0,0,0,0.0),rgba(0,0,0,0.2)) !important;
}

.footerCopy{
  background: rgba(0,0,0,0.3)
}


.card-title{
  font-size: large !important;
  padding-left: 2% !important;
  padding-bottom: 0px !important;
}

.side300{
}


.small-text{
  font-size: small !important;
}

.small-textf{
  font-size: large !important;
}



.xsmall-text{
  font-size: xx-small !important;
}

.margined{
  padding-bottom: 2%;
  margin-bottom: 2%;
}

.offsetTop{
  margin-top: -25% !important;
}

.material-icons{
    display: inline-flex !important;
    vertical-align: right !important;
}

.robotoFont{
  font-family: 'Roboto', sans-serif;
}

.navbar-fixed { z-index: 9999; }

.little-left-pad{
  padding-left: 2%;
}

.leftBarWidth{
  width: 150px;
}

.borderStrong{
  border: 1px solid rgba(180,180,180,0.5);
}

.little-padding-left{
  padding-left: 2%;
}

.heightMobile{
    min-height: 10%;
}

.no-margin-padding-sides{
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-left: 0px !important;
  padding-right: 2px !important;
}
.no-margin-top{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding: 2% !important;
}

.no-margin-abs{
  margin: 0px;
}

.no-padding-abs{
  padding: 0px;
}

.marginBot{
  margin-bottom: 1% !important;
  padding-bottom: 1% !important;
}

.centeredVCard{
  margin-bottom: 60% !important;
}

.centeredVCard2{
  margin-bottom: 15% !important;
}

.centeredHCard{
  margin-right: 35% !important;
}

.centeredhCard2{
  margin-left: 10% !important;
}

.footerAd {
    position: fixed;
    left: 0%;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: white;
    text-align: center;
}

.large-text{
  font-size: x-large !important;
}

.littleFont{
  font-size: 10px !important;
}

.innerPadding{
  padding: 4%;
}

.bgTurismo{
  position: absolute;
  top: 0;
  left: 0;
  /* Preserve aspet ratio */
  width: 100%;
  min-height: 10%;
   z-index: -9999;
}

.imageCardIn{
  width: 150px;
}


@media only screen and (min-width: 400px) {
  .fullHeightCard{
    min-height: 200px !important;
  }
}

@media only screen and (min-width: 700px) {
  .fullHeightCard{
    min-height: 250px !important;
  }
}

@media only screen and (min-width: 1400px) {
  .fullHeightCard{
    min-height: 371.54px !important;
  }
}
@media only screen and (min-width: 1000px) {
    .littleSpaceTop{
      margin-top: 2%;
    }

    .logoUtilInteresante{
      height: 30px;
      margin-top: 0px;
    }

    .bgLanding{
      position: absolute;
      top: 0;
      left: 10%;
      /* Preserve aspet ratio */
      max-width: 800%;
      min-height: 75%;
      z-index: -9999;
      background-color: green;
      overflow: hidden;
    }

    .bgLandingV2{
      position: fixed;
      top: 0;
      left: 10%;
      /* Preserve aspet ratio */
      max-width: 800%;
      min-height: 75%;
      z-index: -9999;
      background-color: green;
      overflow: hidden;
    }

    .bgTurismo{
      position: absolute;
      top: 0;
      left: 10%;
      /* Preserve aspet ratio */
      width: 80%;
      min-height: auto;
       z-index: -9999;
    }

    .innerPadding{
      padding: 2%;
    }

    .marginTop {
        padding-top: 10%;
    }

    .marginTopTurismo{
      padding-top: 15%;
    }

    .fullSides{
      margin-left: 20% !important;
      width: 65% !important;
    }
    .bg {
      position: absolute;
      margin-left: 10%;
      margin-right: 10%;
      top: 0;
      left: 0;
      /* Preserve aspet ratio */
      min-width: 80%;
      min-height: 80%;
       z-index: -9999;
    }

    .bgV2 {
      position: fixed;
      margin-left: 10%;
      margin-right: 10%;
      top: 0;
      left: 0;
      /* Preserve aspet ratio */
      min-width: 80%;
      min-height: 80%;
       z-index: -9999;
    }
    .rightMargined{
      margin-right: 20%;
    }

    .leftMargined{
      margin-left: 18%;
    }

    .leftMargined2{
      margin-left: 7%;
    }

    .leftMarginedFixed{
      margin-left: 19%;
    }

    .leftMarginedActive{
      padding-left: 6%;
    }

    .cardSize{
      min-height: 300px !important;
    }

    .NewspaperMode{
      margin-right: 5% !important;
      min-width: 90% !important;
    }

}
